DISCORD_BOT_TOKEN=[YOUR-DISCORD_BOT_TOKEN]
MONITORED_CHANNELS=[ID'S OF CHANNELS YOU WANT THE BOT TO MONITOR IN A COMMA SEPERATED LIST]
PROJECT_UPDATES_CHANNEL_ID=[ID'S OF CHANNELS YOU WANT THE BOT TO ANSWER IN A COMMA SEPERATED LIST]
GROQ_API_KEY=[YOUR GROQ API KEY]
BOT_ROLE_NAME=[NAME OF THE ROLE THAT CAN ACCESS THE BOT]
KNOWLEDGE_DIR=knowledge
GROQ_MODEL=llama-3.3-70b-versatile
HF_TOKEN=[YOUR HUGGING FACE TOKEN]
DISCORD_MAX_CONNECTION_TIMEOUT_MS=60000